.topAd {
    width:55em;
    height:7em;
    position:relative;
    left:19em;
    border-style: solid;
}
.leftAd{
    float:left;
    height:40em;
    width:10em;
    margin-right:10px;
    border:solid;
}
.rightAd{
    float:right;
    height:40em;
    width:10em;
    margin-left:20px;
    border:solid;
}